.container {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 30px;
}

.label {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 18px;
}

.filtercheckbox {
  display: none;
}

.filtercheckbox__visible {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #39e2882c;
  border-radius: 12px;
  transition: 0.4s linear;
}

.filtercheckbox__visible:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  transition: 0.4s linear;
}

.filtercheckbox:checked + .filtercheckbox__visible {
  background-color: #2BE080;
}

.filtercheckbox:checked + .filtercheckbox__visible:before {
  transform: translateX(20px);
}
