@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./montserrat/Montserrat-SemiBold.ttf);
}
